.widget {
  padding-top: 0.5rem;
}

.widget-body.framed {
  display: flex;
  font-size: 0.875rem;
  align-items: stretch;
  padding: 1rem;
  border: 2px solid rgba(11, 209, 138, 0.2);
  border-radius: $borderRadius;
  background: #0e0e10;
  position: relative;
}
