$topbar-height: 5rem;

.layout {
  margin: 0 auto;
  width: 100%;
  min-width: 20rem;
  max-width: 36rem;
}

.topbar {
  display: flex;
  width: 100%;
}

.topnav {
  display: none;
  flex: 1 1 auto;
  gap: 1.5rem;
}

.nav-link {
  color: $primaryColor;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  &:hover {
    text-shadow: 0 0 4px $primaryColor;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-grow: 1;
}

.logo,
.logo-mobile {
  height: 3rem;
}

.logo {
  display: none;
}

.topbar-tools {
  align-self: center;
  justify-self: right;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0 1rem;

  .p-button-rounded {
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid $primaryColor;
  }
}

.p-button-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 1.5rem;
  cursor: pointer;

  &:hover {
    background: $shade900;
  }

  i {
    font-size: 1.25rem;
  }
}

.balance-desktop {
  display: none;
}

main {
  padding-bottom: 1rem;
}

@media screen and (min-width: 48rem) {
  .layout {
    max-width: 48rem;
    padding: 0 1rem;
  }

  .logo {
    display: block;
  }

  .logo-mobile {
    display: none;
  }

  .logo-container {
    flex-grow: 0;
  }

  .topnav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 75rem) {
  .layout {
    max-width: 75rem;
    padding: 0 1rem;
  }

  main {
    min-height: calc(100vh - $topbar-height);
  }
}

@media screen and (min-width: 92rem) {
  .layout {
    max-width: 100rem;
  }

  .logo-container {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
  }

  .topbar-start {
    flex-grow: 1;
    text-align: center;
  }

  .topbar-tools {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    justify-self: right;
  }
}
