.match-result-widget {
  position: relative;
  z-index: 10;

  &.winner-fighter-2 {
    .win-amount {
      color: var(--orange-300);
    }

    .fighter-image-2 {
      display: block;
    }

    .fighter-image-1 {
      display: none;
    }
  }

  .widget-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  .qrcode {
    right: 1rem;
    top: 1rem;
    width: 5rem;
    height: auto;
    position: absolute;
  }

  .fighter-image-box {
    padding: 0.5rem;
    background: rgba(76, 220, 136, 0.1);
  }

  .fighter-image {
    width: 6rem;
    height: 6rem;
  }

  .fighter-image-2 {
    display: none;
  }

  .result-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 0.875rem;
    gap: 0.5rem;
  }

  .result-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  .win-amount {
    font-size: 2.5rem;
    color: #4cdc88;
    padding: 0.5rem 0;

    &::after {
      font-size: 1.25rem;
      content: ' credits';
      vertical-align: bottom;
      line-height: 2rem;
      margin-left: 0.5rem;
      text-transform: uppercase;
    }
  }

  // .bet-info {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   gap: 1rem;
  //   width: 13rem;
  // }

  .widget-actions {
    margin-top: 1rem;
    width: 100%;

    .p-button-label {
      padding: 0 1rem;
    }
  }

  @media screen and (min-width: 48rem) {
    .widget-body {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .widget-content {
      flex-direction: row;
      width: auto;
      gap: 2rem;
    }

    .fighter-image {
      width: 10rem;
      height: 10rem;
    }

    .result-info {
      width: auto;
      align-items: flex-start;
    }

    .widget-actions {
      display: flex;
      gap: 1rem;

      button {
        width: auto;
      }
    }
  }
}
