.welcome-dialog {
  width: 90%;
  max-width: 48rem;
  padding: 0;
  border-radius: $borderRadius;
  max-height: 100%;

  .dialog-body {
    width: 100%;
  }

  .p-dialog-content {
    padding: 0;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    background: var(--surface-0);
    border: 2px solid var(--gray-700);
  }

  .slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .slide-header {
    padding: 0 2rem;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 12rem;

    &.no-title {
      padding: 0;
    }
  }

  .slide-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 0;
    text-align: center;
  }

  .slide-image {
    width: 100%;
    flex-grow: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .slide-text {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    margin: 0;
    padding: 1rem;
  }

  #connect-slide-image {
    background-image: url('/tutorial/betting-zone.png');
  }

  #brawlers-slide-image {
    background-image: url('/tutorial/back-brawlers.png');
  }

  #stakes-slide-image {
    background-image: url('/tutorial/withdrawal-modal.png');
  }

  #win-slide-image {
    background-image: url('/tutorial/bonus-prizes.png');
  }

  .dialog-footer {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    width: 100%;
    gap: 2rem;
    align-items: center;

    .p-button {
      padding: 0.5rem 1rem;
      justify-content: center;
      flex: 1 1 50%;
      max-width: 20rem;
    }

    .p-button-label {
      flex-grow: 0;
    }
  }

  .dialog-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  @media screen and (min-width: 36rem) {
    .slide-header {
      height: 16rem;
      padding: 0 3rem;
    }

    .slide-title {
      font-size: 2rem;
      padding: 2rem;
      font-weight: bold;
    }

    .slide-text {
      padding: 1rem 2rem;
      font-size: 1.25rem;
    }

    #connect-slide-image {
      background-image: url('/tutorial/betting-zone.png');
      background-size: contain;
    }

    #brawlers-slide-image {
      background-image: url('/tutorial/back-brawlers.png');
    }

    #stakes-slide-image {
      background-image: url('/tutorial/withdrawal-modal.png');
    }

    .dialog-footer {
      flex-direction: row;
      padding-bottom: 2rem;

      .p-button {
        padding: 0.5rem 2rem;
        justify-content: center;
        flex-grow: 0;
        flex-basis: auto;
        max-width: 20rem;
        // font-size: 1.25rem;
      }
    }

    .dialog-nav {
      order: 1;
      width: auto;
      flex-grow: 1;
      justify-content: right;
    }
  }

  @media screen and (min-width: 48rem) {
    .slide-header {
      height: 20rem;
    }

    .slide-text {
      padding: 2rem 4rem;
    }
  }
}
