@keyframes loader-dots {
  0% {
    scale: 0;
  }
  33% {
    scale: 1;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}

.loader-dots > div {
  animation: loader-dots 1.25s infinite linear;
}

.loader-dots > div:nth-child(1) {
  animation-delay: 0.41666666666s;
}

.loader-dots > div:nth-child(2) {
  animation-delay: 0.83333333332s;
}
