.leaderboard-page {
  align-items: center;
  padding: 1rem 0.75rem;
  max-width: 36rem;
  width: 100vw;
  margin: 0 auto;
}

.tournament-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  grid-row: 1 / 2;
}

.tournament-name {
  font-size: 1.125rem;
  font-weight: 500;
}

.tournament-countdown {
  display: flex;
  gap: 0.5rem;

  & > span {
    display: inline-block;
    line-height: 2rem;
    background: #00265e;
    color: white;
    padding: 0 0.5rem;
    border-radius: 3px;
  }
}

.prize-carousel {
  grid-row: 2 / 3;

  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
  overflow-x: auto;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  flex-shrink: 0;

  &.loading {
    display: flex;
    overflow-x: hidden;
    height: 0;

    .prize-tile {
      opacity: 0;
    }
  }
}

.prize-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 16rem;
  flex-shrink: 0;
  gap: 1rem;
  border-radius: 4px;
  opacity: 0.8;
  scroll-snap-align: center;

  &.prize-1 {
    background:
      linear-gradient(
        106deg,
        rgba(0, 116, 154, 0.5) 0%,
        rgba(0, 98, 112, 0.5) 100%
      ),
      center / contain url('/prize-bg.png');
  }

  &.prize-2 {
    background:
      linear-gradient(
        105deg,
        rgba(55, 51, 92, 0.8) 5.91%,
        rgba(33, 29, 76, 0.8) 85.27%
      ),
      center / contain url('/prize-bg.png');
  }

  &.prize-3 {
    background:
      linear-gradient(
        106deg,
        rgba(24, 47, 60, 0.8) 1.37%,
        rgba(1, 27, 41, 0.8) 100%
      ),
      center / contain url('/prize-bg.png');
  }

  &.large {
    padding: 1.25rem;

    .prize-icon {
      width: 4rem;
      height: 4rem;
    }
  }
}

.prize-icon {
  width: 3rem;
  height: 3rem;
}

.prize-value {
  font-size: 1.5rem;
  color: white;
}

.prize-description {
  font-size: 0.75rem;
  color: #fefefe;
  font-weight: 400;
  text-align: center;
}

.leaderboard {
  grid-row: 3/5;

  width: 100%;
  background-color: #0e0e10;
  padding: 1rem;
  border-radius: $borderRadius;

  .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      font-size: 1.125rem;
      font-weight: 500;
      margin: 0;
    }
  }

  .search-input-group {
    width: auto;

    button {
      height: 2.5rem;
      width: 2.5rem;
      color: #c8ccd8;
      border: 0;
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  .search-input {
    height: 2.5rem;
    padding: 0 1rem;
  }

  .empty-state {
    height: 100%;
    min-height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 1rem;
  }

  .mobile-record {
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: $borderRadius;
    border: 1px solid rgba(76, 220, 136, 0.16);

    &.highlighted {
      border: 1px solid $primaryColor;
      background-color: rgba(76, 220, 136, 0.08);
    }
  }

  .mobile-record-body {
    width: 100%;
    padding: 0.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 3rem 8rem auto;
    grid-template-rows: repeat(3, 2rem);
    column-gap: 0.5rem;
    font-size: 0.875rem;
    font-weight: normal;
    color: #fefefe;

    .rank {
      grid-column: 1 / 2;
      grid-row: 1;
      font-size: 1.25rem;
      font-weight: bold;
      justify-self: center;

      &-1,
      &-2,
      &-3 {
        display: none;
      }
    }

    .rank-image {
      display: none;
      grid-column: 1 / 2;
      grid-row: 1;
      width: 1.5rem;
      height: 1.5rem;
      justify-self: center;

      &-1,
      &-2,
      &-3 {
        display: inline-block;
      }

      &-1 {
        background: center / contain no-repeat url('/prize-1.svg');
      }

      &-2 {
        background: center / contain no-repeat url('/prize-2.svg');
      }

      &-3 {
        background: center / contain no-repeat url('/prize-3.svg');
      }
    }

    .player {
      grid-column: 2 / 4;
      grid-row: 1;
    }

    .wins-label {
      grid-column: 2;
      grid-row: 2;
      font-weight: bold;
    }

    .wins-value {
      grid-column: 3;
      grid-row: 2;
    }

    .credits-label {
      grid-column: 2;
      grid-row: 3;
      font-weight: bold;
    }

    .credits-value {
      grid-column: 3;
      grid-row: 3;
    }
  }

  .table {
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;

    .rank {
      width: 5rem;
      font-weight: bold;

      .rank-image {
        display: none;
      }

      &-1,
      &-2,
      &-3 {
        .rank-image {
          display: inline-block;
        }

        .rank-value {
          display: none;
        }
      }
    }

    .rank-image {
      width: 1.5rem;
      height: 1.5rem;

      &-1 {
        background: center / contain no-repeat url('/prize-1.svg');
      }

      &-2 {
        background: center / contain no-repeat url('/prize-2.svg');
      }

      &-3 {
        background: center / contain no-repeat url('/prize-3.svg');
      }
    }

    .player {
      width: 10rem;
      text-align: left;
    }

    .credits {
      width: 8rem;
      text-align: left;
      flex-grow: 1;
    }

    .wins {
      width: 8rem;
    }
  }

  .table-header,
  .table-row {
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    align-items: center;
  }

  .table-header {
    font-size: 0.875rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    position: sticky;
    top: 0;
    background-color: #0e0e10;
    padding-bottom: 0.5rem;
  }

  .table-row {
    margin: 0.5rem 0;
    border-radius: $borderRadius;
    border: 1px solid rgba(76, 220, 136, 0.16);

    &.highlighted {
      border: 1px solid $primaryColor;
      background-color: rgba(76, 220, 136, 0.08);
    }
  }
}

@media screen and (min-width: 36rem) {
  .tournament-info {
    flex-direction: row;
  }

  .prize-tile {
    flex: 1 1 33.33%;
  }

  .leaderboard {
    .mobile-record {
      font-size: 1rem;
    }

    .mobile-record-body {
      grid-template-columns: 4rem 8rem auto;

      .rank {
        font-size: 1.25rem;
      }
    }
  }
}

@media screen and (min-width: 48rem) {
  .leaderboard-page {
    display: grid;
    grid-template-rows: 2rem auto 1fr 1px;
    padding-bottom: 1rem;
    max-width: 48rem;
    width: 100%;
  }

  .leaderboard {
    padding: 1.5rem;
    height: 100%;

    .header {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 2.5rem;
    }

    .body {
      height: calc(100% - 2.5rem);
      padding-top: 2rem;
    }

    .mobile-record {
      display: none;
    }

    .table {
      display: flex;
      overflow-y: auto;
    }
  }
}

@media screen and (min-width: 75rem) {
  .leaderboard-page {
    justify-self: center;
  }

  .leaderboard {
    max-width: 75rem;
  }
}
