.leaderboard-page {
  align-items: center;
  padding: 0 0.75rem;
}

.leaderboard {
  background-color: #0e0e10;
  padding: 1rem;
  border-radius: $borderRadius;

  .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      font-size: 1.125rem;
      font-weight: 500;
      margin: 0;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
  }

  .mobile-record {
    font-size: 0.875rem;
    border-radius: $borderRadius;
    border: 1px solid rgba(76, 220, 136, 0.16);

    &.highlighted {
      border: 1px solid $primaryColor;
      background-color: rgba(76, 220, 136, 0.08);
    }
  }

  .mobile-record-body {
    width: 100%;
    padding: 0.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 2rem 6rem auto;
    grid-template-rows: repeat(3, 2rem);
    column-gap: 0.5rem;

    .rank {
      grid-column: 1 / 2;
      grid-row: 1;
      font-weight: bold;
      justify-self: center;
    }

    .wallet {
      grid-column: 2 / 4;
      grid-row: 1;
    }

    .points-label {
      grid-column: 2;
      grid-row: 2;
    }

    .points-value {
      grid-column: 3;
      grid-row: 2;
    }

    .winrate-label {
      grid-column: 2;
      grid-row: 3;
    }

    .winrate-value {
      grid-column: 3;
      grid-row: 3;
    }
  }

  .mobile-record-footer {
    display: flex;

    .stat {
      flex-grow: 1;
      width: 50%;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 1rem;

      &:first-child {
        border-bottom-left-radius: $borderRadius;
      }

      &:last-child {
        border-bottom-right-radius: $borderRadius;
      }

      &.wins {
        background-color: #173026;
      }

      &.losses {
        background-color: #180f11;
      }
    }
  }
}
