.zealy-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid var(--surface-50);

  &.widget {
    padding: 1rem;
  }

  .widget-header {
    text-align: center;
  }

  .widget-body {
    width: 50%;
    max-width: 16rem;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .widget-footer {
    width: 100%;
  }

  .goto-button {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    display: block;
  }
}
