@use 'sass:color';

.credit-claim-widget {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--surface-50);

  &.widget {
    padding: 1rem;
    height: auto;
  }

  .widget-title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .widget-body {
    position: relative;
  }

  .claim-scroll-button {
    display: none;
    border: 1px solid rgba($primaryColor, 0.2);
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: calc(50% - 0.75rem);
    z-index: 1;
    background-color: #0e0d15;
    border-radius: 0.25rem;
    align-items: center;
    justify-content: center;

    .pi {
      font-size: 0.875rem;
    }

    &.left {
      left: 0;
      margin-left: -0.5rem;
    }

    &.right {
      right: 0;
      margin-right: -0.5rem;
    }
  }
}

.credit-claims-viewport {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  gap: 0.75rem;
  width: 100%;
  height: 100%;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
}

.credit-claim-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  padding-top: 0.75rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  background: rgba($primaryColor, 0.1);
  scroll-snap-align: end;

  &.claimed {
    background: rgba($primaryColor, 0.04);
  }

  &.current {
    border: 1px solid $primaryColor;
  }

  .claim-xp {
    font-size: 1.125rem;
    color: $primaryColor;
  }

  .claimed-label,
  .claim-button {
    width: 5rem;
  }

  .claimed-label {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
  }

  .claim-countdown {
    font-size: 0.75rem;
    text-align: center;
    line-height: 1.5;
  }
}
