.historical-bet-panel {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  align-items: center;
  height: 100%;
  padding: 2rem;
  gap: 2rem;
  border: 2px solid rgba(11, 209, 138, 0.2);
  border-radius: $borderRadius;

  .fighters {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border: 2px solid rgba(11, 209, 138, 0.2);
    background-color: rgba(11, 209, 138, 0.1);
    border-radius: $borderRadius;
    justify-content: space-between;
    width: 100%;
  }

  .fighter {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .points {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    align-items: center;
  }
}
